.searchPanel {
    width: 300px;
    margin: 0 auto;
}
input {
    font-size: 15px;
    padding: 5px;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

.search-btn {
    height: 26px;
}
